<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- MiniPreview stuff here -->
<link href="./jquery.minipreview.css" rel="stylesheet">
<script src="./jquery.minipreview.js"></script>

<script>
        $(function() {
            //$('.internal-link a').miniPreview({ prefetch: 'pageload' });
            //$('.internal-link a').miniPreview({ prefetch: 'parenthover' });
            $('a.internal-link').miniPreview({ prefetch: 'none' });
        });
</script>